@using Services.AutoHeaderParser

@inject IRequestStorageService Storage
@inject IRequestExecutorService Executor

<Panel>
    <HeaderTemplate>
        <Space>
            <SpaceItem>
                Auto Headers
            </SpaceItem>
            <SpaceItem>
                <Badge Count=@(Value?.Count ?? 0) />
            </SpaceItem>
        </Space>
    </HeaderTemplate>
    <ChildContent>
        @if (Value is not null && _requests is not null)
        {
            @foreach (var header in Value)
            {
                    <GridRow Gutter="16" Justify="left" Align="top" Style=@($"margin-bottom:{Constants.MarginBottomNormal}px;")>

                        <GridCol Span="3">
                            <Select TItemValue="Guid"
                                TItem="AutoHeaderRepresentation"
                                LabelName="@nameof(AutoHeaderRepresentation.Name)"
                                ValueName="@nameof(AutoHeaderRepresentation.Guid)"
                                DataSource="_autoHeaders"
                        @bind-Value=header.Type
                        OnSelectedItemChanged=@((r) => Changed()) />
                        </GridCol>
                        <GridCol Span="6">
                            <Select TItemValue="Guid"
                                TItem="StoredRequest"
                                LabelName="@nameof(StoredRequest.Name)"
                                ValueName="@nameof(StoredRequest.Id)"
                                DataSource="_requests"
                                @bind-Value=header.RequestId
                                OnSelectedItemChanged=@((r) => Changed())
                            />
                        </GridCol>
                        <GridCol Span="1">
                            <Button Danger OnClick="@(() => RemoveAutoHeader(header))">
                                <Icon Type="minus"/>
                            </Button>
                        </GridCol>
                    </GridRow>
            }
            <GridRow Gutter="16" Justify="left" Align="top">
                @if (_autoHeaders is not null)
                {
                    <GridCol Span="3">
                        <Select TItemValue="Guid"
                            TItem="AutoHeaderRepresentation"
                            ValueName="@nameof(AutoHeaderRepresentation.Guid)"
                            LabelName="@nameof(AutoHeaderRepresentation.Name)"
                            DataSource="_autoHeaders"
                            @bind-Value=_newItem.Type
                            OnSelectedItemChanged=@((r) => Changed())
                        />
                    </GridCol>
                }
                <GridCol Span="6">
                    <Select TItemValue="Guid"
                    TItem="StoredRequest"
                    LabelName="@nameof(StoredRequest.Name)"
                    ValueName="@nameof(StoredRequest.Id)"
                    DataSource="_requests"
                    @bind-Value=_newItem.RequestId />
                </GridCol>
                <GridCol Span="3">
                    <Button Type="@ButtonType.Primary" OnClick="AddAutoRequest">
                        <Icon Type="plus" />
                    </Button>
                </GridCol>
            </GridRow>
        }
        else
        {
            <Icon Type="loading" Theme="outline" Style="font-size: 24px" Spin />
        }
    </ChildContent>
</Panel>

