@page "/Request/{name?}"
@using Postboy.Data
@using Postboy.Data.ContentTypes;
@using Newtonsoft.Json
@using Postboy.Views
@using Postboy.Helpers
@inject NavigationManager Navigation
@inject IRequestStorageService Storage
@inject IMessageService Notification
@inject IRequestExecutorService Executor
@inject IComponentInteractionService Interaction
@inject ModalService Modal

@if (Name is not null)
{
    @if (Request is null)
    {
        <h3>Request</h3>
    }
    else
    {
        <h3>
            <span style="display:@(_editTitle?"none":"");">
                @Name
            </span>
            <Input Style=@(_editTitle?"":"display:none;") @bind-Value=Request.Name />
            @if (!_editTitle)
            {
                <Dropdown>
                    <Overlay>
                        <Menu>
                            <MenuItem OnClick="EditTitle">
                                <span>
                                    <Icon Type="edit" />
                                    <span>Edit Name</span>
                                </span>
                            </MenuItem>
                            <MenuItem OnClick="SaveChanges">
                                <span>
                                    <Icon Type="save" />
                                    <span>Save</span>
                                </span>
                            </MenuItem>
                            <MenuItem OnClick="Delete">
                                <span>
                                    <Icon Type="delete"/>
                                    <span>Delete</span>
                                </span>
                            </MenuItem>
                        </Menu>
                    </Overlay>
                    <ChildContent>
                        <Button Size="@ButtonSize.Small">
                            <Icon Type="more" />
                        </Button>
                    </ChildContent>
                </Dropdown>
            }
            else
            {
                <Button OnClick="EditTitle">
                    <Icon Type="check" />
                </Button>
            }
        </h3>
    }
}
else
{
    <h3>
        <Input @bind-Value=Request.Name Placeholder="enter request name"/>
    </h3>
}

@if (Request is null)
{
    <Icon Type="loading" Theme="outline" Style="font-size: 24px" Spin />
}
else
{

    <InputGroup>
        <GridRow>
            <GridCol Span="2">
                <Select @bind-Value=Request.Method DataSource="Methods" Size="@InputSize.Large"/>
            </GridCol>
            <GridCol Span="10">
                <Input @bind-Value=Request.Url Size="@InputSize.Large" />
            </GridCol>
            <GridCol Span="1">
                <Button OnClick="Execute" Type="@ButtonType.Primary" Size="@InputSize.Large">
                    <Icon Type="play-circle" />
                </Button>
            </GridCol>
        </GridRow>
    </InputGroup>

    <Collapse>
        <HeadersView @bind-Value=Request.Headers />
        <AutoHeadersView @bind-Value=Request.AutoHeaders/>
    </Collapse>

    <Divider />

    <GridRow Gutter="16" Justify="left" Align="top">
        <GridCol Span="2">
            Content-Type
        </GridCol>
        <GridCol Span="4">
            <Select @bind-Value=Request.ContentType DataSource="ContentTypes" />
        </GridCol>
    </GridRow>

    <GridRow Gutter="16" Justify="left" Align="top">
        <GridCol Span="2">
            Body
        </GridCol>
        <GridCol Span="14">
            @if (Request.ContentType is ContentTypeNone)
            {
                @("None")
            }
            else if (Request.ContentType is ContentTypeJson)
            {
                <TextArea @bind-Value=Request.Body/>
            }
            else if (Request.ContentType is ContentTypeFormEncoded)
            {
                <FormUrlEncodedView @bind-Value=Request.Body/>
            }
        </GridCol>
    </GridRow>
}
@if (_waitingForResponse)
{
    <br />
    <h3>Response</h3>
    <Icon Type="loading" Theme="outline" Style="font-size: 24px" Spin />
}
@if (Response is not null){
    <br />
    <h3>Response</h3>

    <GridRow Gutter="16" Justify="left" Align="top">
        <GridCol Span="2">
            Statuscode
        </GridCol>
        <GridCol Span="3">
            @Response.StatusCode
        </GridCol>
    </GridRow>

    @if (Responsetext is not null)
    {
        <GridRow Gutter="16" Justify="left" Align="top">
            <GridCol Span="2">
                Body
            </GridCol>
            <GridCol Span="14">
                <TextArea Rows="20" @bind-Value=Responsetext ReadOnly />
            </GridCol>
        </GridRow>
    }
}


@code {
    [Parameter]
    public string? Name { get; set; }

    private bool _editTitle, _deleting;

    private StoredRequest? Request { get; set; }

    private HttpResponseMessage? Response { get; set; }

    private string? Responsetext { get; set; }

    private bool _waitingForResponse;

    private Timer? _autoSaveTimer;

    private readonly List<HttpMethod> Methods = new()
    {
        HttpMethod.Get,
        HttpMethod.Post,
        HttpMethod.Put,
        HttpMethod.Delete,
        HttpMethod.Options,
        HttpMethod.Patch,
        HttpMethod.Head,
        HttpMethod.Connect,
        HttpMethod.Trace
    };

    private readonly List<StoredRequestContentType> ContentTypes = new()
    {
        StoredRequestContentType.None,
        StoredRequestContentType.Json,
        StoredRequestContentType.FormEncoded
    };

    protected override Task OnInitializedAsync()
    {
        //_autoSaveTimer = new Timer(async (obj) => await SaveChanges(), new object(), TimeSpan.FromSeconds(30), TimeSpan.FromSeconds(30));
        Navigation.LocationChanged += async (object? sender, LocationChangedEventArgs args) =>
        {
            if (!_deleting && !args.Location.TrimEnd('/').EndsWith("Request"))
            {
                await SaveChanges();
            }
        };
        _deleting = false;
        return base.OnInitializedAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Name is null)
        {
            Request = new StoredRequest();
        }
        else
        {
            Request = await Storage.GetByName(Name);
        }
        Response = null;
        Responsetext = null;
    }

    private async Task SaveChanges()
    {
        try
        {
            await SaveChangesUnsafe();
        }
        catch (Exception ex)
        {
            Notification.Error(ex.Message);
        }
    }

    private async Task SaveChangesUnsafe()
    {
        if (Name is null)
        {
            await Storage.Create(Request);
            Navigation.NavigateTo($"/Request/{Request.Name}");
            Notification.Success("Request created!");
        }
        else
        {
            await Storage.Update(Request);
            Notification.Success("Changes saved!");
        }
        Interaction.Notify("menuchanged");
    }

    private async Task Delete()
    {
        if (!await Modal.ConfirmAsync(new ConfirmOptions
            {
                Title = "Confirm Deletion",
                Content = $"Are you sure, that you want to delete request {Request.Name}",
                OkText = "Yes",
                CancelText = "No"
            }))
        {
            return;
        }
        try
        {
            _deleting = true;
            var name = Request.Name;
            await Storage.Delete(Request.Id);
            Navigation.NavigateTo("/");
            Notification.Success($"Deleted request {name}");
            Interaction.Notify("menuchanged");
        }
        catch (Exception ex)
        {
            Notification.Error(ex.Message);
        }
    }

    private async Task Execute()
    {
        _waitingForResponse = true;
        await SaveChanges();
        try
        {
            Response = await Executor.Execute(Request);
            var content = await Response.Content.ReadAsStringAsync();
            if (IsValidJson(content))
            {
                Responsetext = JsonHelper.FormatJson(content);
            }
            else
            {
                Responsetext = content;
            }
            _waitingForResponse = false;
        }
        catch (Exception ex)
        {
            Notification.Error(ex.Message);
            _waitingForResponse = false;
        }
        finally
        {
            _waitingForResponse = false;
        }
    }

    private bool IsValidJson(string str)
    {
        try
        {
            dynamic parsedJson = JsonConvert.DeserializeObject(str);
        }
        catch (Exception)
        {
            return false;
        }
        return true;
    }

    private async Task EditTitle()
    {
        _editTitle = !_editTitle;
        if (!_editTitle)
        {
            try
            {
                await SaveChangesUnsafe();
                Navigation.NavigateTo($"Request/{Request.Name}");
                Interaction.Notify("menuchanged");
            }
            catch (Exception ex)
            {
                Notification.Error(ex.Message);
                Request.Name = Name;
                Navigation.NavigateTo($"Request/{Name}");
            }
        }
    }
}
